@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  
:root {
  --primary-bg: #000000;
 
}

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--primary-bg);
    color: var(--text-primary);
  }
  
  
  .animated-bg {
    background: #0a0a0a;
  }

 